.navbar {
  background: transparent;
}

.nav-brand {
  margin-left: 20px;
  width: 90px;
  height: 100px;
  background-size: contain;
  background-image: url("./components/logo.png");
}
.home-video {
  position: absolute;
  left: 0px;

  width: 100vw;
  z-index: -1;
  overflow-y: hidden;
  overflow-x: hidden;
}

.navbar-ul {
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.home-col-1 {
  align-items: center;
  justify-content: center;
  text-align: left;
}
.home-col-1 h5 {
  color: white;
  font-size: 17px;
}
.home-col-1 h3 {
  color: white;
  font-weight: 600;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 50px;
}

.home-col-2 {
  background-color: white;

  padding: 20px;
}
.home-col-3 {
  background-color: rgb(219, 219, 219);
  color: black;
  font-size: 17px;
}
.home-col-3 {
  background-color: rgb(219, 219, 219);
  background: url("./screens/mob-img.webp");
  background-position: center;
  background-size: cover;
  height: 400px;
  width: 300px;
}
.home-col-2 h5 {
  font-size: 23px;
}
.home-col-2 p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.cards {
  box-shadow: rgba(0, 0, 0, 0.26) 0px 5px 15px;
}
.img-carousel {
  height: 100px;
}
.last-col {
  padding: 20px;
  padding-left: 40px;
}
/* }
.footer {
  background-color: gray;
  align-items: center;
}
.footer h6 {
  margin-top: 20px;
  font-size: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: white;
  font-weight: 300;
}
.footer span {
  margin-left: 500px;
} */
